.panel-lite {
    margin: auto;
    margin-top: 100px;
    max-width: 400px;
    background: #fff;
    padding: 0px 20px 45px 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    position: relative;
}
body{
    background: #3d4444; color: #fff;
}
.thumbur {
    width: 150px;
    height: 150px;
    position: relative;
    background-color: #efefef;
    *zoom: 1;
    margin: auto;
    margin-top:50px ;
    border-radius: 100%;
    overflow: hidden;
}
.form-group {
    position: relative;
    font-size: 15px;
    color: #666;
}
.form-group + .form-group {
    margin-top: 30px;
}
.form-group .form-label {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 8px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.form-group .form-control {
    width: 100%;
    position: relative;
    z-index: 3;
    height: 35px;
    background: none;
    border: none;
    padding: 5px 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-bottom: 1px solid #777;
}
.form-group .form-control:invalid {
    outline: none;
}
.form-control{
    font-size: 19px;
}
.form-group .form-control:focus, .form-group .form-control:valid {
    outline: none;
    color: #5FB878;
    box-shadow: 0 1px #5FB878;
    border-color: #5FB878;
}
.form-group .form-control:focus + .form-label, .form-group .form-control:valid + .form-label {
    font-size: 12px;
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
}
.panel-lite h4 {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: #009688;
    margin: 15px auto;
}
.icon-arrow {
    position: relative;
    width: 13px;
    height: 13px;
    border-right: 3px solid #fff;
    border-top: 3px solid #fff;
    display: block;
    /*-ms-transform: rotate(45deg);*/
    -webkit-transform: rotate(45deg);
    /*transform: rotate(45deg);*/
    margin: auto;
    -webkit-transition: 0.3s;
    /*transition: 0.3s;*/
}
.icon-arrow:after {
    content: '';
    position: absolute;
    width: 18px;
    height: 3px;
    background: #fff;
    left: -3px;
    top: 5px;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.floating-btn {
    background: #009688;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: #fff;
    font-size: 32px;
    border: none;
    position: absolute;
    margin: auto;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.3) inset;
    margin: auto;
    right: -30px;
    bottom: 90px;
    cursor: pointer;
}
.floating-btn:hover {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.3) inset, 0 3px 6px rgba(0, 0, 0, 0.16), 0 5px 11px rgba(0, 0, 0, 0.23);
}
.floating-btn:hover .icon-arrow {
    -ms-transform: rotate(45deg) scale(1.2);
    -webkit-transform: rotate(45deg) scale(1.2);
    transform: rotate(45deg) scale(1.2);
}
.floating-btn:focus, .floating-btn:active {
    outline: none;
}
.panel-lite a {
    display: inline-block;
    margin-top: 25px;
    text-decoration: none;
    color: #009688;
    font-size: 14px;
}
.layui-tab-title{
    text-align: center;
    border-bottom-width: 0px;
    border: none;
    color: #000;
}
.layui-tab-title li{
    font-size: 16px;
}
.layui-tab-title .layui-this{
    border-color: #FFe6e600;
}
.layui-tab-title .layui-this:after{
    border-width: 0px;
}
#webcam{
    margin-top: 60px;
    margin-left: 30px;
}
.takepic{
    margin-top: 30px;
    margin-left: 150px;
    text-align: center;
}
#video{
    margin-left: 17px;
}