body {
    /*background-color: #eee;*/
    margin-top: 50px;
}

.thumb {
    width: 100px;
    position: relative;;
    margin: auto;
    border-radius: 100%;
}

#box {
    perspective: 1000px;
    /*border: 2px solid #5FB878;*/
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(0deg);
    margin-top: 100px; /*(250px-100px)*/
}

#img {
    height: 300px;
    -webkit-animation: myFirst 10s infinite linear; /* Safari 和 Chrome */
}

@-webkit-keyframes myFirst {
    0% {
        transform: rotateY(0deg) rotateX(0deg)
    }
    10% {
        transform: rotateY(30deg) rotateX(0deg)
    }
    30% {
        transform: rotateY(-30deg) rotateX(0deg)
    }
    60% {
        transform: rotateY(0deg) rotateX(30deg)
    }
    90% {
        transform: rotateY(0deg) rotateX(-30deg)
    }
    100% {
        transform: rotateY(0deg) rotateX(0deg)
    }
}

.scene {
    width: 400px;
    height: 400px;
    margin: 70px auto 0;
}

.cube {
    position: relative;
    width: 400px;
    height: 400px;
    transform: perspective(1200px) translateZ(-200px);
}

.side {
    position: absolute;
    width: 400px;
    height: 400px;
    box-sizing: border-box;
    background: #fff;
    /*padding: 120px 0;*/
    transform-origin: 50% 50% -200px;
    backface-visibility: hidden; /*定义当元素不面向屏幕时是否可见。*/
    /*border: 1px solid #2D93CA;*/
}

.front {
    transform: perspective(1200px) rotateX(0deg);
}

.back {
    transform: perspective(1200px) rotateX(0deg) rotateY(180deg);
}

.top {
    transform: perspective(1200px) rotateX(90deg);
}

.bottom {
    transform: perspective(1200px) rotateX(-90deg);
}

.navi {
    text-align: center;
    padding: 10px;
}

.navi a {
    color: #009688;
    margin-right: 20px
}